# Terraform state files
*.tfstate
*.tfstate.backup
*.plan
.terraform/
*/.terraform.lock.hcl


# Crash logs
crash.log

# Sensitive files
*.pem
*.key
*.env
*.rpm
*.swp
*.swo

# Editor folders (opcional)
.vscode/
.idea/

